text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.nav-container {
    box-shadow: 0 0 8px 0 #333;
    margin-bottom: 15px;
}

.no-color {
    color: black;
}

.no-color:hover {
    text-decoration: none;
}

h2 {
    color: blue;
}

.bk-tx-container{
    
}